.jumbotron {
     /*background-image: linear-gradient(to bottom, #ffffff 0%, #df8447 100%); */
    /*background-image: linear-gradient(to bottom, #ffffff 0%, #e2ebf0 90%);*/
    background-image: linear-gradient(to bottom, #ffffff 0%, #ffecd2 100%);
    border-radius: 0;
}

.font-weight-light {
  font-weight: 300;
}
